/* CSS for the top bar */
.top-bar {
    background-color: #333;
    color: aquamarine;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* CSS for the main content */
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* CSS for the left and right divisions */
.left {
    width: 50%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    /*float: left;*/
}

.right {
    width: 50%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    /*float: right;*/
}

.left p:hover, .left h2:hover {
    color: gold;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 50%;
}
.grid-item img{
    width: 100%;
    padding: 1px;
}
.grid-item {
    width: fit-content;
}
/* font-family: 'DM Serif Display', serif;
font-family: 'Lato', sans-serif; */