body {
    margin: 0;
}

div {
    background: rgba(0, 0, 255, 0.17);
}

.container {
    /*display: flex;*/
    width: 80%;
    height: auto;
    padding-top: 200px;
    margin: auto;
    /*justify-content: space-between;*/
}

header {
    display: flex;
    width: 100%;
    height: auto;
    padding: 2%;
    background: #999999;
    border-bottom: #f2f2f2 solid 1px;
    justify-content: space-between;
    position: fixed;
    top: 0;

}

.site-header {
    width: max-content;
    font-size: 40pt;
}

.nav-bar {
    width: 3%;
    align-self: flex-end;
}

.row {
    display: flex;
    justify-content: left;
}

.image {
    width: 50%;
}

img {
    width: 100%
}

.text {
    width: auto;
align-self: flex-end;
}
